#include "winver.h"

IDI_ICON1 ICON DISCARDABLE "./WindowsQGC.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 5,0,8,0
 PRODUCTVERSION 5,0,8,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "QGroundControl"
            VALUE "FileDescription", "QGroundControl"
            VALUE "FileVersion", "5.0.8"
            VALUE "LegalCopyright", "Copyright (c) 2025 QGroundControl. All rights reserved."
            VALUE "InternalName", "QGroundControl"
            VALUE "OriginalFilename", "QGroundControl.exe"
            VALUE "ProductName", "QGroundControl"
            VALUE "ProductVersion", "5.0.8"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
